/* ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@keyframes spin1 {
    from    {   transform: rotate(-10deg) rotateX(0deg) rotateY(0deg);    }
    to      {   transform: rotate(-10deg) rotateX(360deg) rotateY(360deg);  }
}
@keyframes spin2 {
    from    {   transform: rotate(-45deg) rotateY(0deg) rotateX(0deg);   }
    to      {   transform: rotate(-45deg) rotateY(-360deg) rotateX(360deg); }
}
@keyframes spin3 {
    from    {   transform: rotate(-60deg) rotateX(0deg) rotateY(0deg); }
    to      {   transform: rotate(-60deg) rotateX(360deg) rotateY(360deg); }
}
/* ----------------------- */



/* -----GLOBAL----- */
:root {
    --primary: rgb(15, 15, 15);
}
* {
    color: white;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto Flex';
}
body::-webkit-scrollbar {
    display: none;
}
/* ---------------- */



/* -----HOME SECTION----- */
header {
    height: 100vh;
    text-transform: uppercase;
    & nav {
        z-index: 99;
        width: 100%;
        display: flex;
        position: fixed;
        padding: 5px 50px;
        align-items: center;
        backdrop-filter: blur(2px);
        background-color: transparent;
        justify-content: space-between;
        border-bottom: 1px solid rgb(50, 50, 50, .5);
        & .company-brand {
            gap: 5px;
            display: flex;
            align-items: center;
            & a {
                display: flex;
                width: max-content;
                height: max-content;
                align-items: center;
                text-decoration: none;
            }
            & img {
                width: 50px;
                opacity: .75;
                height: 50px;
                transition: all .25s;
                filter: invert(100%);
            }
            & p {
                margin: 0;
                font-size: 1.2em;
                font-weight: bold;
                color: hsl(0, 0%, 75%);
            }
        }
        & .nav-btns {
            width: 50%;
            display: flex;
            justify-content: space-around;
            & a {
                font-weight: 100;
                position: relative;
                transition: all .5s;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                &:hover::after {
                    width: 100%;
                }
            }
            & a::after {
                left: 0;
                width: 0;
                content: '';
                height: 2px;
                bottom: -3px;
                position: absolute;
                transition: all .25s;
                background-color: rgb(255, 255, 255, .5);
            }
        }
    }
    & .background {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background-color: var(--primary);
        box-shadow: inset 0 0 50px rgb(0, 0, 0, .5);
        & .home-section-container {
            top: 50%;
            left: 50%;
            display: flex;
            position: absolute;
            width: max-content;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            transform: translate(-50%, -50%);
            & * {
                margin: 0;
                margin-bottom: 10px;
                color: hsla(0, 0%, 75%);
            }
        }
        & .cube-large {
            bottom: -20%;
            right: -5%;
            width: 20rem;
            height: 20rem;
            position: absolute;
            perspective: 10000px;
            transform-style: preserve-3d;
            animation: spin3 40s linear infinite;
            & * {
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all .5s;
                backface-visibility: hidden;
                border: 1px solid rgba(100, 100, 100, .2);
                background-image: linear-gradient(180deg, rgba(15, 15, 15, .5) 25%, rgba(100, 100, 100, .1) 100%);
                &:nth-child(1) {
                    transform: translateZ(10rem);
                }
                &:nth-child(2) {
                    transform: rotateY(180deg) translateZ(10rem);
                }
                &:nth-child(3) {
                    transform: rotateY(90deg) translateZ(10rem);
                }
                &:nth-child(4) {
                    transform: rotateY(-90deg) translateZ(10rem);
                }
                &:nth-child(5) {
                    background-color: rgba(15, 15, 15, .5);
                    transform: rotateX(90deg) translateZ(10rem);
                }
                &:nth-child(6) {
                    background-color: rgba(100, 100, 100, .1);
                    transform: rotateX(-90deg) translateZ(10rem);
                }
                &:hover {
                    background-color: rgba(100, 100, 100, .3);
                }
            }
        }
        & .cube-normal {
            width: 15rem;
            height: 15rem;
            position: absolute;
            perspective: 10000px;
            transform-style: preserve-3d;
            & * {
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all .5s;
                backface-visibility: hidden;
                border: 1px solid rgba(100, 100, 100, .2);
                background-image: linear-gradient(180deg, rgba(15, 15, 15, .5) 25%, rgba(100, 100, 100, .1) 100%);
                &:nth-child(1) {
                    transform: translateZ(7.5rem);
                }
                &:nth-child(2) {
                    transform: rotateY(180deg) translateZ(7.5rem);
                }
                &:nth-child(3) {
                    transform: rotateY(90deg) translateZ(7.5rem);
                }
                &:nth-child(4) {
                    transform: rotateY(-90deg) translateZ(7.5rem);
                }
                &:nth-child(5) {
                    background-color: rgba(15, 15, 15, .5);
                    transform: rotateX(90deg) translateZ(7.5rem);
                }
                &:nth-child(6) {
                    background-color: rgba(100, 100, 100, .1);
                    transform: rotateX(-90deg) translateZ(7.5rem);
                }
                &:hover {
                    background-color: rgba(100, 100, 100, .3);
                }
            }
        }
        & .cube-normal:nth-child(3) {
            top: 50%;
            left: 2%;
            animation: spin1 30s linear infinite;
        }
        & .cube-normal:nth-child(4) {
            top: -5%;
            right: 18%;
            animation: spin2 30s linear infinite;
        }
        & .cube-small {
            width: 5rem;
            height: 5rem;
            position: absolute;
            perspective: 10000px;
            transform-style: preserve-3d;
            & * {
                height: 100%;
                width: 100%;
                position: absolute;
                transition: all .5s;
                backface-visibility: hidden;
                border: 1px solid rgba(100, 100, 100, .1);
                background-image: linear-gradient(180deg, rgba(15, 15, 15, .5) 25%, rgba(100, 100, 100, .1) 100%);
                &:nth-child(1) {
                    transform: translateZ(2.5rem);
                }
                &:nth-child(2) {
                    transform: rotateY(180deg) translateZ(2.5rem);
                }
                &:nth-child(3) {
                    transform: rotateY(90deg) translateZ(2.5rem);
                }
                &:nth-child(4) {
                    transform: rotateY(-90deg) translateZ(2.5rem);
                }
                &:nth-child(5) {
                    background-color: rgba(15, 15, 15, .5);
                    transform: rotateX(90deg) translateZ(2.5rem);
                }
                &:nth-child(6) {
                    background-color: rgba(100, 100, 100, .1);
                    transform: rotateX(-90deg) translateZ(2.5rem);
                }
                &:hover {
                    background-color: rgba(100, 100, 100, .3);
                }
            }
        }
        & .cube-small:nth-child(5) {
            top: 10%;
            left: 30%;
            animation: spin2 20s linear infinite reverse;
        }
        & .cube-small:nth-child(6) {
            top: 70%;
            right: 45%;
            animation: spin3 20s linear infinite reverse;
        }
    }
}
/* ------------------- */



/* -----ABOUT SECTION----- */
section {
    height: 100vh;
    width: 100vw;
}