/* ----------------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
@keyframes spin1 {
    from {  transform: rotate(-10deg) rotateX(0deg) rotateY(0deg);      }
    to   {  transform: rotate(-10deg) rotateX(360deg) rotateY(360deg);  }
}
@keyframes spin2 {
    from {  transform: rotate(-45deg) rotateY(0deg) rotateX(0deg);      }
    to   {  transform: rotate(-45deg) rotateY(-360deg) rotateX(360deg); }
}
@keyframes spin3 {
    from {  transform: rotate(-60deg) rotateX(0deg) rotateY(0deg);      }
    to   {  transform: rotate(-60deg) rotateX(360deg) rotateY(360deg);  }
}
@keyframes swipe-in {
    0%   {  width: 0%;      left: 0;        right: 100%;                }
    50%  {  width: 100%;    left: 0;        right: 0;                   }
    100% {  width: 0%;      left: 100%;     right: 0;                   }
}
@keyframes fade-in-text {
    from {                  opacity: 0;                                 }
    to   {                  opacity: 1;                                 }
}
/* ----------------------- */




/* -----GLOBAL----- */
:root {
    --primary: rgb(15, 15, 15);
}
* {
    cursor: none;
    color: white;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Roboto Flex';
}
body::-webkit-scrollbar {
    display: none;
}
/* ---------------- */





/* -----HOME SECTION----- */
header {
    height: 100vh;
    text-transform: uppercase;
    & nav {
        z-index: 98;
        width: 100%;
        display: flex;
        position: fixed;
        padding: 5px 50px;
        align-items: center;
        backdrop-filter: blur(2px);
        background-color: transparent;
        justify-content: space-between;
        border-bottom: 1px solid rgb(50, 50, 50, .5);
        & .company-brand {
            gap: 5px;
            display: flex;
            align-items: center;
            & a {
                display: flex;
                width: max-content;
                height: max-content;
                align-items: center;
                text-decoration: none;
            }
            & img {
                width: 35px;
                opacity: .75;
                height: 35px;
                transition: all .25s;
                filter: invert(100%);
            }
            & p {
                margin: 0;
                font-size: 1em;
                font-weight: bold;
                color: hsl(0, 0%, 75%);
            }
        }
        & .nav-btns {
            width: 50%;
            display: flex;
            justify-content: space-between;
            & a {
                font-weight: 100;
                font-size: small;
                position: relative;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                &:hover::after {
                    width: 100%;
                }
            }
            & a::after {
                left: 0;
                width: 0;
                content: '';
                height: 2px;
                bottom: -3px;
                position: absolute;
                transition: all .25s;
                background-color: rgb(255, 255, 255, .5);
            }
        }
    }
    & .background {
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        position: relative;
        background-color: var(--primary);
        & .home-section-container {
            top: 50%;
            left: 50%;
            display: flex;
            position: absolute;
            width: max-content;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            transform: translate(-50%, -50%);
            & * {
                margin: 0;
                margin-bottom: 10px;
                color: hsla(0, 0%, 75%);
            }
            & h1 {
                opacity: 0;
                animation: fade-in-text .01s linear 1.95s forwards;
            }
            & p {
                opacity: 0;
                animation: fade-in-text .01s linear 2.25s forwards;
            }
            & div:nth-child(1) {
                position: relative;
                & .swipe-in-1 {
                    top: 0;
                    height: 100%;
                    position: absolute;
                    background-color: hsl(0, 0%, 75%);
                    animation: swipe-in .8s ease-in 1.55s forwards;
                }
            }
            & div:nth-child(2) {
                position: relative;
                & .swipe-in-2 {
                    top: 0;
                    height: 100%;
                    position: absolute;
                    background-color: hsl(0, 0%, 75%);
                    animation: swipe-in .8s ease-in 1.8s forwards;
                }
            }
        }
        & .cube {
            perspective: 10000px;
            transform-style: preserve-3d;
            & * {
                width: 100%;
                height: 100%;
                position: absolute;
                transition: all .5s;
                backface-visibility: hidden;
                border: 1px solid rgba(100, 100, 100, .2);
                background-image: linear-gradient(180deg, rgba(15, 15, 15, .5) 25%, rgba(100, 100, 100, .1) 100%);
                &:hover {
                    background-color: rgba(100, 100, 100, .3);
                }
            }
        }
        & .cube-large {
            right: -5%;
            bottom: -20%;
            width: 20rem;
            height: 20rem;
            position: absolute;
            animation: spin3 25s linear infinite;
        }
        & .cube-normal {
            width: 15rem;
            height: 15rem;
            position: absolute;
        }
        & .cube-normal:nth-child(3) {
            top: 55%;
            left: 2%;
            animation: spin1 25s linear infinite;
        }
        & .cube-normal:nth-child(4) {
            top: -10%;
            right: 18%;
            animation: spin2 25s linear infinite;
        }
        & .cube-small {
            width: 5rem;
            height: 5rem;
            position: absolute;
        }
        & .cube-small:nth-child(5) {
            top: 10%;
            left: 30%;
            animation: spin2 25s linear infinite reverse;
        }
        & .cube-small:nth-child(6) {
            top: 70%;
            right: 45%;
            animation: spin3 25s linear infinite reverse;
        }
        & .cube-extra-small {
            top: 20%;
            left: 9%;
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            animation: spin1 25s linear infinite reverse;
        }
        & .cube-large * {
            &:nth-child(1) {
                transform: translateZ(10rem);
            }
            &:nth-child(2) {
                transform: rotateY(180deg) translateZ(10rem);
            }
            &:nth-child(3) {
                transform: rotateY(90deg) translateZ(10rem);
            }
            &:nth-child(4) {
                transform: rotateY(-90deg) translateZ(10rem);
            }
            &:nth-child(5) {
                transform: rotateX(90deg) translateZ(10rem);
            }
            &:nth-child(6) {
                transform: rotateX(-90deg) translateZ(10rem);
            }
        }
        & .cube-normal * {
            &:nth-child(1) {
                transform: translateZ(7.5rem);
            }
            &:nth-child(2) {
                transform: rotateY(180deg) translateZ(7.5rem);
            }
            &:nth-child(3) {
                transform: rotateY(90deg) translateZ(7.5rem);
            }
            &:nth-child(4) {
                transform: rotateY(-90deg) translateZ(7.5rem);
            }
            &:nth-child(5) {
                transform: rotateX(90deg) translateZ(7.5rem);
            }
            &:nth-child(6) {
                transform: rotateX(-90deg) translateZ(7.5rem);
            }
        }
        & .cube-small * {
            &:nth-child(1) {
                transform: translateZ(2.5rem);
            }
            &:nth-child(2) {
                transform: rotateY(180deg) translateZ(2.5rem);
            }
            &:nth-child(3) {
                transform: rotateY(90deg) translateZ(2.5rem);
            }
            &:nth-child(4) {
                transform: rotateY(-90deg) translateZ(2.5rem);
            }
            &:nth-child(5) {
                transform: rotateX(90deg) translateZ(2.5rem);
            }
            &:nth-child(6) {
                transform: rotateX(-90deg) translateZ(2.5rem);
            }
        }
        & .cube-extra-small * {
            &:nth-child(1) {
                transform: translateZ(1.25rem);
            }
            &:nth-child(2) {
                transform: rotateY(180deg) translateZ(1.25rem);
            }
            &:nth-child(3) {
                transform: rotateY(90deg) translateZ(1.25rem);
            }
            &:nth-child(4) {
                transform: rotateY(-90deg) translateZ(1.25rem);
            }
            &:nth-child(5) {
                transform: rotateX(90deg) translateZ(1.25rem);
            }
            &:nth-child(6) {
                transform: rotateX(-90deg) translateZ(1.25rem);
            }
        }
    }
}
/* ------------------- */




/* -----ABOUT SECTION----- */
section {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
}
/* ----------------------- */



/* -----CURSOR ANIMATION----- */
.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .5);
    position: fixed; 
    top: 0;
    left: 0;
    backdrop-filter: invert(100);
    pointer-events: none;
    z-index: 99999999;
  }
/* -------------------------- */